*, ::after, ::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;

  @include media(m) {
    font-size: 56.25%;
  }

  @include media(s) {
		font-size: 50%;
	}

  @include media(xs) {
		font-size: 30%;
	}
}

body {
  font-size: 1.6rem;
  color: $black;
}

.main {
  width: 100vw;
  background: linear-gradient(180deg, rgba($black, .5) 0%, rgba($black, 5e-05) 50%, rgba($black, .5) 100%), url(../img/main-background_x2.png);

  @include media(m) {
    background: linear-gradient(180deg, rgba($black, .5) 0%, rgba($black, 5e-05) 50%, rgba($black, .5) 100%), url(../img/main-background.png);
  }
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 8rem;

  @include media(m) {
    gap: 4rem;
  }

  @include media(s) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

