$white: #FFFFFF;
$black: #000000;
$dark-gray: #666666;
$light-gray: #B3B3B3;
$light-blue: #1698D9;
$dark-blue: #2EA8E6;
$light-pink: #D91667;
$dark-pink: #E52E7A;
$yellow: #FFFF66;

$exo: exo, sans-serif;
$trebuchet: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

:root {
  --white: #FFFFFF;
  --black: #000000;
  --dark-gray: #666666;
  --light-gray: #B3B3B3;
  --light-blue: #1698D9;
  --dark-blue: #2EA8E6;
  --light-pink: #D91667;
  --dark-pink: #E52E7A;
  --yellow: #FFFF66;
}